a{
    border: 1px solid black;
    margin: 10px;
    height: 25em;
    text-align: center;
    text-decoration: none
}

div.news{
    display: grid;
    grid-template-columns: minmax(500px, 500px) minmax(500px, 600px)
    minmax(500px, 500px);
    width: max-content;
    margin: auto;
    grid-gap: 10px;
}

a:hover{
    border-radius: 10px;
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transform: scale(1.2);
}

p{
    margin-top:8em;
    background-color:white;
    color:purple;
    font-size:20px;
    width: fit-content
}

div.wrapper{
    background-color: aliceblue
}